html, body {
    font-size: 14px;
    font-family: Georgia, Times New Roman, serif;
    background: #4D99B3;
    color: #bbb;
	margin:0;
	padding:0;
}
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  background:#356575;
  height: 500px;
  font-size: 16pt;
}
.main {
  position: relative;
  top: 100px;
  text-align: center;
}

.main h1 {
  color: #EDA832;
  font-family: Georgia, Times New Roman, serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  text-align: center;
}
#contenta {
    padding:1px 0px 20px 0px;
	margin: 0 auto;
    width:400px;
    text-align: center;
 
}
.pricepara {
    text-align: center; 

}

input {
	background: transparent;
    color: #ddd;
    font-family: Georgia;
    border: 0px solid #fff;
    margin-bottom: 2px;
	font-size:16px;
	display:inline
	
}

.quoteme label{
	float: left;
    padding-top: 10px;
	padding-right:2px;
    color: #fff;
    font-family: Georgia;
    width: 340px;
	
	display:inline
}

#total{
    font-family: 'Georgia', arial;
    width: 150px;
    border: 0px solid #000;
    background: transparent;
    font-size: 32px;
    color: #fff;
}
.izracun {
	
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 35%;
	text-align: right;
	float: none; 
	font-size:18px;
}

.izracun input{
		font-size:18px;
		margin: 0% 30% 0% 5%;
		text-align: center;
}
.izracun td{
	padding: 5px;
	
	
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}
.clearfix {
  clear: both;
}



@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }


}
.header{
  background-color:#333333;
}

